<mat-toolbar class="grey-bg toolbar">
  <button
    *ngIf="!drawer?.opened"
    mat-icon-button
    (click)="menuButtonClicked.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="tools-for-big-screens">
    <mat-select placeholder="create" class="toolbar-select"> </mat-select>
    <app-searchbar></app-searchbar>
  </span>

  <span class="toolbar-spacer"></span>

  <button mat-icon-button>
    <mat-icon>language</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>help</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>sell</mat-icon>
  </button>
  <button mat-button class="user-button container">
    <img height="20px" src="./assets/images/svg/logo.svg" />
    <img src="./assets/images/svg/avatar.svg" />
  </button>
</mat-toolbar>
