<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" opened class="grey-bg">
    <div class="text-center">
      <img class="logo" src="/assets/images/svg/logo.svg" alt="" />
    </div>
    <div class="text-end">
      <button
        class="close-btn container"
        mat-icon-button
        (click)="drawer.close()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>

    <mat-list-item class="menu-item menu-title">
      <mat-icon matListItemIcon>scatter_plot</mat-icon>
      <div matListItemTitle>Action board</div></mat-list-item
    >

    <mat-list role="list" class="main-list">
      <mat-list-item
        role="listitem"
        *ngFor="let item of mainMenuItems"
        class="menu-item"
        [ngClass]="{ 'active-item': item.isActive }"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <div matListItemTitle>{{ item.name }}</div></mat-list-item
      >
    </mat-list>

    <mat-list role="list" class="secondary-list">
      <mat-list-item
        role="listitem"
        *ngFor="let item of secondaryMenuItems"
        class="menu-item"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <div matListItemTitle>{{ item.name }}</div></mat-list-item
      >
    </mat-list>

    <mat-list-item class="menu-item menu-settings-item">
      <mat-icon matListItemIcon>settings</mat-icon>
      <div matListItemTitle>Settings</div></mat-list-item
    >
  </mat-drawer>
  <mat-drawer-content>
    <app-toolbar
      [drawer]="drawer"
      (menuButtonClicked)="toggleSidebar()"
    ></app-toolbar>
    <app-products></app-products>
  </mat-drawer-content>
</mat-drawer-container>
