<div class="products-content">
  <div class="container full-width mb-1 header-container">
    <h4 class="title">Request for Proposal</h4>
    <mat-chip-listbox selectable="false">
      <mat-chip-option class="passed-chip">1</mat-chip-option>
      <mat-chip-option class="passed-chip">2</mat-chip-option>
      <mat-chip-option class="selected-chip"
        ><span class="selected-number text-center">3</span> RFP Commercial
        Details (You are here)</mat-chip-option
      >
      <mat-chip-option>4</mat-chip-option>
      <mat-chip-option>5</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div class="row g-2">
    <div class="col-lg-9 col-md-12">
      <div class="container products-container">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <img src="assets/images/svg/products/folder.svg" />

              <span class="tab-title">My Catalogs</span>
            </ng-template>

            <div class="row g-2">
              <div
                class="col-xl-2 col-lg-3 col-md-4 col-sm-12"
                *ngFor="let product of products"
              >
                <app-product-card [product]="product"></app-product-card>
              </div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <img src="assets/images/svg/products/catalog.svg" />
              <span class="tab-title">Public Catalog</span>
            </ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>add_circle</mat-icon>
              <span class="tab-title">Add manually</span>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div class="col-lg-3 col-md-12">
      <div class="shopping-cart container">
        <div class="cart-header flex">
          <div class="cart-title">Added Items</div>
          <mat-icon>close</mat-icon>
        </div>
        <div class="cart-content flex-center">
          <div>
            <mat-icon class="cart-icon">remove_shopping_cart</mat-icon>
          </div>
          <div class="cart-empty-msg">Empty cart</div>
        </div>
      </div>
    </div>
  </div>
</div>
